package web

// inline-flex 
// items-center 
// cursor-pointer 
// bg-gray-800 
// border-0 
// hover:cursor-pointer 
// hover:bg-gray-700 
// rounded 
// text-base 
// mt-4 
// md:mt-0 
// h-4
templ NavButton() {
    <div 
        class="px-4 py-3 bg-gray-800 hover:bg-gray-700 cursor-pointer"
    >
        { children... }
    </div>
}
